<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinova.mapper.InventoryReservationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinova.pojo.entity.InventoryReservation">
        <id column="id" property="id" />
        <result column="reservation_no" property="reservationNo" />
        <result column="stock_id" property="stockId" />
        <result column="order_id" property="orderId" />
        <result column="order_item_id" property="orderItemId" />
        <result column="quantity" property="quantity" />
        <result column="status" property="status" />
        <result column="expires_at" property="expiresAt" />
        <result column="closed_at" property="closedAt" />
        <result column="version" property="version" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, reservation_no, stock_id, order_id, order_item_id, quantity, status, expires_at, closed_at, version, created_at, created_by, updated_at, updated_by
    </sql>

</mapper>
