<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinova.mapper.ProductCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinova.pojo.entity.ProductCategory">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="category_code" property="categoryCode" />
        <result column="name" property="name" />
        <result column="level" property="level" />
        <result column="sort_order" property="sortOrder" />
        <result column="icon_url" property="iconUrl" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="deleted_at" property="deletedAt" />
        <result column="deleted_by" property="deletedBy" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, category_code, name, level, sort_order, icon_url, status, version, deleted, deleted_at, deleted_by, created_at, created_by, updated_at, updated_by
    </sql>

    <select id="selectParentIdsWithChildren" resultType="java.lang.Long">
        SELECT DISTINCT parent_id
        FROM pinova.product_category
        WHERE parent_id IN
        <foreach collection="parentIds" item="parentId" open="(" separator="," close=")">
            #{parentId}
        </foreach>
          AND status = #{status}
          AND deleted = false
    </select>

</mapper>
