<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinova.mapper.ShoppingCartItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinova.pojo.entity.ShoppingCartItem">
        <id column="id" property="id" />
        <result column="cart_id" property="cartId" />
        <result column="shop_id" property="shopId" />
        <result column="spu_id" property="spuId" />
        <result column="sku_id" property="skuId" />
        <result column="quantity" property="quantity" />
        <result column="selected" property="selected" />
        <result column="version" property="version" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cart_id, shop_id, spu_id, sku_id, quantity, selected, version, created_at, created_by, updated_at, updated_by
    </sql>

</mapper>
