<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinova.mapper.TradeOrderShippingAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinova.pojo.entity.TradeOrderShippingAddress">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="source_address_id" property="sourceAddressId" />
        <result column="source_address_version" property="sourceAddressVersion" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_mobile" property="receiverMobile" />
        <result column="country_code" property="countryCode" />
        <result column="province_code" property="provinceCode" />
        <result column="province_name" property="provinceName" />
        <result column="city_code" property="cityCode" />
        <result column="city_name" property="cityName" />
        <result column="district_code" property="districtCode" />
        <result column="district_name" property="districtName" />
        <result column="detail_address" property="detailAddress" />
        <result column="postal_code" property="postalCode" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, source_address_id, source_address_version, receiver_name, receiver_mobile, country_code, province_code, province_name, city_code, city_name, district_code, district_name, detail_address, postal_code, created_at, created_by, updated_at, updated_by
    </sql>

</mapper>
