<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinova.mapper.WarehouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinova.pojo.entity.Warehouse">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="warehouse_code" property="warehouseCode" />
        <result column="name" property="name" />
        <result column="warehouse_type" property="warehouseType" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="deleted_at" property="deletedAt" />
        <result column="deleted_by" property="deletedBy" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_id, warehouse_code, name, warehouse_type, status, version, deleted, deleted_at, deleted_by, created_at, created_by, updated_at, updated_by
    </sql>

</mapper>
