PINOVA_DB_NAME=pinova
PINOVA_DB_USERNAME=pinova
PINOVA_DB_PASSWORD=replace-with-a-local-password
PINOVA_DB_PORT=15432

PINOVA_MINIO_ROOT_USER=pinova
PINOVA_MINIO_ROOT_PASSWORD=replace-with-a-local-password
PINOVA_MINIO_API_PORT=19000
PINOVA_MINIO_CONSOLE_PORT=19001
PINOVA_MINIO_BUCKET=pinova-public
